<div class="container p-5 mt-5 alert alert-light">
  @if(process) {
  <h1>Login</h1>
  }
  <form (submit)="login()">
    <label>Email address</label>
    <input
      type="Email"
      class="form-control mb-3"
      placeholder="Enter Email"
      [(ngModel)]="email"
      name="email"
    />
    <label>Password</label>
    <input
      type="password"
      class="form-control mb-3"
      placeholder="Enter Password"
      [(ngModel)]="password"
      name="password"
    />
    <button type="submit" class="btn btn-success mt-3" (click)="login()">
      Login
    </button>
  </form>
</div>
